<!doctype html>
<html>

<head>
    <title>Hockey Hub - Quick portal for Hockey nerds</title>
    <meta charset="utf8">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pure/1.0.0/pure-min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script id="data" type="application/json">$$JSON_DATA$$</script>
</head>

<body>
    <div id="app" class="content" v-cloak>
        <div class="pure-g">
            <div class="pure-u-1">
                <h2>Hockey Hub - Quick portal for Hockey nerds</h2>
                <p>Just type a command and hit go.</p>
            </div>
        </div>
        <div class="pure-g">
            <div class="pure-u-1">
                <form class="pure-form" :action="url" method="GET" target="_blank">
                    <input type="hidden" :name="key" :value="val" v-for="(val, key) in params">
                    <input v-model="query" type="text" placeholder="Command..." :class="{valid: url.length !== 0}">
                    <button class="pure-button" :disabled="url.length === 0">Go!</button>
                </form>
            </div>
        </div>
        <div class="pure-g">
            <div class="pure-u-1">
                <h3 id="commands">Commands</h3>
                <table class="commands">
                    <tr>
                        <td>!lines
                            <span class="arg">team</span>
                        </td>
                        <td>Team line combinations on Daily Faceoff</td>
                    </tr>
                    <tr>
                        <td>!draft
                            <span class="arg">year</span>
                        </td>
                        <td>Draft year on HockeyDB</td>
                    </tr>
                    <tr>
                        <td>!draft
                            <span class="arg">team</span>
                        </td>
                        <td>Team draft history on HockeyDB</td>
                    </tr>
                    <tr>
                        <td>!cap
                            <span class="arg">team</span>
                        </td>
                        <td>Team cap on CapFriendly</td>
                    </tr>
                    <tr>
                        <td>!cap
                            <span class="arg">player</span>
                        </td>
                        <td>Player contract on CapFriendly</td>
                    </tr>
                    <tr>
                        <td>!depth
                            <span class="arg">team</span>
                        </td>
                        <td>Depth chart on Elite Prospects</td>
                    </tr>
                    <tr>
                        <td>!prospects
                            <span class="arg">team</span>
                        </td>
                        <td>Prospects (in the system) on Elite Prospects</td>
                    </tr>
                    <tr>
                        <td>!trades
                            <span class="arg">team</span>
                        </td>
                        <td>Trade history on NHL Trade Tracker</td>
                    </tr>
                    <tr>
                        <td>!reddit
                            <span class="arg">team</span>
                        </td>
                        <td>Team subreddit on reddit</td>
                    </tr>
                </table>
                <h3 id="examples">Examples</h3>
                <div class="examples">
                    <div v-for="example in examples" class="code" @click="loadExample(example)">{{ example }}</div>
                </div>

                <h3 id="teams">Teams</h3>
                <p>
                    Teams can be referred to by code, location or names. The field is not case sensitive. For instance the Montreal Canadiens
                    can be referred to as
                    <code>mtl</code>,
                    <code>montreal</code>,
                    <code>canadiens</code> or
                    <code>habs</code>.
                </p>
                <h4 id="teams_full">Full reference</h4>
                <table class="help pure-table pure-table-bordered">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Identifiers</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(names, fullname) in help_names">
                            <td>{{fullname}}</td>
                            <td>
                                <span v-for="name in names">{{name}}</span>
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
        <div class="pure-g">
            <div class="pure-u-1">
                <hr> Hockey Hub is free software licensed under the
                <a href="https://www.gnu.org/licenses/agpl-3.0.en.html">AGPLv3</a> License.
                <br> The data used by this website is available
                <a href="data.json">here</a>.
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script>
    <script src="script.js"></script>
</body>

</html>
