<!doctype html>
<html>

<head>
    <title>Hockey Hub - Quick portal for Hockey nerds</title>
    <meta charset="utf8">
    <style>
        [v-cloak] {
            display: none !important;
        }
    </style>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pure/1.0.0/pure-min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script id="data" type="application/json">$$JSON_DATA$$</script>
</head>

<body>
    <div id="app" class="content" v-cloak>
        <div class="pure-g">
            <div class="pure-u-1">
                <h2>Hockey Hub - Quick portal for Hockey nerds</h2>
                <p>Just type a query and hit enter or the Go button.</p>
            </div>
        </div>
        <div class="pure-g">
            <div class="pure-u-1">
                <form id="query_form" class="pure-form" :action="url" :method="method" target="_blank">
                    <input type="hidden" :name="key" :value="val" v-for="(val, key) in params">
                    <input id="query" autofocus v-model="query" type="text" placeholder="Query..." :class="{valid: url.length !== 0 || answer.length > 0}">
                    <div class="pure-button-group" role="group">
                        <button type="submit" class="pure-button" :disabled="url.length === 0">Search</button>
                        <button @click="shareLink" type="button" class="pure-button" :disabled="url.length === 0 && answer.length === 0">Share</button>
                    </div>
                </form>
            </div>
        </div>
        <div v-if="answer.length > 0" class="pure-g">
            <div class="pure-u-1">
                <pre>{{answer}}</pre>
            </div>
        </div>
        <div class="pure-g">
            <div class="pure-u-1">
                <h3 id="commands">Queries</h3>
                <p>
                    The order of the keywords does not matter. You can type
                    <span class="query" @click="loadExample">lines habs</span>,
                    <span class="query" @click="loadExample">ovechkin cap</span> or
                    <span class="query" @click="loadExample">2014 stats habs</span>, it makes no difference. The case
                    is also irrelevant. Note that writing a ! before
                    the command/query is not required anymore, but still works.
                </p>
                <h4>Reference</h4>
                <table class="commands">
                    <tr v-for="help in help_queries">
                        <td class="first">{{help.name}}</td>
                        <td class="second">
                            <div>
                                <span v-for="arg in help.opts" class="arg opt">[{{arg}}]</span>
                            </div>
                            <div>
                                <span v-for="arg in help.args" class="arg">{{arg}}</span>
                            </div>
                            <div>
                                <span v-for="arg in help.or" class="or">
                                    <span class="arg">{{arg}}</span>
                                    <span class="arg join">or</span>
                                </span>
                            </div>
                        </td>
                        <td class="third">{{help.text}}</td>
                    </tr>
                </table>
                <h4 id="examples">Examples</h4>
                <div class="examples">
                    <div v-for="example in examples" class="query" @click="loadExample">{{ example }}</div>
                </div>
                <h3 id="teams">Teams</h3>
                <p>
                    Teams can be referred to by code, location or names. For instance the Montreal Canadiens can be
                    referred to as
                    <span class="query">mtl</span>,
                    <span class="query">montreal</span>,
                    <span class="query">canadiens</span> or
                    <span class="query">habs</span>.
                </p>
                <h4 id="teams_full">Full reference</h4>
                <table class="help pure-table pure-table-bordered">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Identifiers</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(names, fullname) in help_teams">
                            <td>{{fullname}}</td>
                            <td>
                                <span v-for="name in names">{{name}}</span>
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
        <div class="pure-g">
            <div class="pure-u-1">
                <hr>
                <p>
                    If you find a link that doesn't work or have suggestions, you can
                    <a href="https://github.com/hockeyhub/hockeyhub/issues">open an issue</a> on GitHub or message
                    <a href="https://reddit.com/u/epic_pork">/u/epic_pork</a> on reddit.
                </p>
                <p>
                    Hockey Hub is free software licensed under the
                    <a href="https://www.gnu.org/licenses/agpl-3.0.en.html">AGPLv3</a> License.
                    <br> The data used by this website is available
                    <a href="data.json">here</a>. The source code is available
                    <a href="https://github.com/hockeyhub/hockeyhub">here</a>.
                </p>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script>
    <script src="script.js"></script>
</body>

</html>
