body {
    text-align: center;
    margin-bottom: 100px;
}
.pure-form .pure-button-group {
    display: inline !important;
}
.content {
    margin-top: 20px;
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.content input[type="text"].valid {
    border-color: #28a745 !important;
}
.content input[type="text"] {
    width: 350px;
    border-color: #dc3545 !important;
}
.query {
    font-family: monospace;
    text-decoration: underline;
    cursor: pointer;
}
.query:hover {
    color: #555;
}
.content table {
    margin-left: auto;
    margin-right: auto;
}
.commands tr .first {
    text-align: right;
}
.commands tr .second {
    padding-left: 10px;
    text-align: left;
    padding-right: 20px;
}
.commands tr .third {
    text-align: left;
}
.commands td .arg {
    margin-right: 5px;
    text-decoration: underline;
    float: left;
}
.commands td .or .join {
    text-decoration: none;
}
.commands td .or:last-child .join {
    display: none;
}
.examples .query {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    font-size: bigger;
}
.help td span {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}
.help thead th {
    text-align: center;
}
