body {
    text-align: center;
    margin-bottom: 100px;
}
[v-cloak] {
    display: none;
}
.content {
    margin-top: 20px;
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.content table {
    margin-left: auto;
    margin-right: auto;
}
.commands td:first-child {
    text-align:right;
    padding-right: 20px;
    font-family: monospace;
}
.commands td:last-child {
    text-align:left;
    font-size: small;
    color: #555;
}
.commands td .arg {
    text-decoration: underline;
}
.examples .code {
    display: inline-block;
    text-decoration: underline;
    margin-left: 5px;
    margin-right: 5px;
    font-family: monospace;
    cursor: pointer;
}
.examples .code:hover {
    color: #555;
}
.help td span {
    text-decoration: underline;
    margin-left: 5px;
    margin-right: 5px;
}
.help thead th {
    text-align: center;
}